* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #eaedf0;
}

.page {
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid red;
}

.menu {
    height: 100px;
    background-color: #b2deff;
}

.sidebar {
    float: left;
    width: 200px;
    height: 300px;
    background-color: #f09a9d;
}

.content {
    padding: 20px;
}

.article-image {
    float: left;
    width: 300px;
    height: 200px;
    margin-right: 20px;
    margin-left: 20px;
}

p {
    margin-bottom: 20px;
}

.footer {
    /*clear: both;*/ /* no longer needed when overflow: hidden* is used*/
    overflow: hidden;
    background-color: #b2deff;
}

.footer-item {
    float: left;
    width: 31%;
    margin: 20px 1.15%;
    height: 160px;
    background-color: #b2d6ff;
}

.avatar {
    float: left;
    width: 60px;
    height: 60px;
    margin: 25px;
    border-radius: 40px;
    background-color: #d6e9fe;
}

.username {
    margin-top: 30px;
}

.comment {
    margin: 10px;
    overflow: hidden;
}
